html,
body {
   font-family: 'Saira Semi Condensed', sans-serif;
   font-size: 1.125rem;
   height: 100%;
}

@media(max-width: 768px){
    #social {
        text-align: center;
    }
}

.btn {
    transition: all .3s ease-in-out;
}
.navbar {
    background-color: rgba(21, 31, 33, .6);
    border-bottom: 1px solid #dedede;
    font-family: 'Saira Semi Condensed', sans-serif;
}

.navbar .nav .nav-item .nav-link {
    color: #d1d1d1;
}

.navbar .nav .nav-item .nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
}

/* HEADER */
#header {
    background: url('../images/group-study.jpeg') center center no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}
#header .group-study-heading {
     color: #fdb00a; 
}
#header .group-study {
    background-color: rgba(0, 0, 0, .3);
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 10px;
}

#header .header-form-info {
    background-color: rgba(0, 0, 0, .3);
    color: #fdb00a;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#header .down-arrow {
    margin-top: 10%;
}

#header .fa {
    background-color: rgba(0, 0, 0, .1);
    transition: all .4s ease-in-out;
}

#header a .fa {
     color: #fdb00a;
}

#header a .fa:hover {
     color:#fff;
}

/* social */

#social {
    margin: 3.5rem 0;
}

#social h2 {
   margin-bottom: 1.5rem;
}

#social .fa {
    font-size: 1.5rem;
    color:  #fdb00a;
    border: 2px solid #fdb00a;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 25%;
    text-align: center;
    padding: 30% 0;
    margin-top: 1.5rem;
    transition: all .4s ease-in-out;
}

#social .fa:hover {
    background: #fdb00a;
    color: #fff;
}


